@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700&display=swap');
.header-site{
    background-image: url(../img-banner.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(12, 12, 12);
    padding-top: 300px;
    padding-bottom: 300px;    
}

.content-site {
    padding-top: 200px;
    padding-bottom: 200px;
}

.text-center {
    font-size: 25px;
    
}

.img-site {
    background-image: url(../img-9.jpg);    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 200px;
    padding-bottom: 200px;
}

.img-site {
    font-size: 35px;
    color: rgb(12, 12, 12);
}

.footer-site {
    background-color: rgba(209, 6, 6, 0.856);
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}